body{
	font-family: 'Open Sans',sans-serif;
	background-color: black;
}
.wrapper{
    width: 1100px;
    margin:auto;
    position: relative;
}

.logo a{
    float: left;
    font-size: 50px;
    font-weight: 800;
    
    color: #704F4F;
}


nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0px;
    background-color: #F3E0B5 ;
    border-bottom: 1px solid;
    z-index: 1;
}


#container{
	width: 1455px;
	height:650px;
	background-image:  url(Untitled\ \(1800\ ×\ 600\ px\)\ \(3\).png); 
	margin: 20px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #474c4f;
	margin: 0 auto;
	top: 37px;
	position: relative;
	border-radius: 20px;
	box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;

}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #f50000;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 20%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number{
	background-color: #acb0b3;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}


.name h5 {
	margin-bottom: 1.2rem;
	margin-top: 1rem;
	text-align: center;
    font-size: 1.1rem;
}